* {
    font-family: 'Lexend', sans-serif;
}

.navbar-container {
    background-color: #B9B4A6;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 308px;
    height: 100vh;
    z-index: -1;
}

.navbar-menu-link {
    background-color: #B9B4A6;
    color: #F7F0DE;
    font-size: 25px;
}