* {
    font-family: 'Lexend', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    color: #F7F0DE;
    font-size: 25px;
    text-align: left;
    cursor: pointer;
}

.sidebar {
    background: #B9B4A6;
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    height: 100%;
    padding-top: 10vh;
    transition: all 0.5s ease;
}

.sidebar ul li a {
    background: #B9B4A6;
    display: block;
    padding: 20px 30px;
    color: #F7F0DE;
    font-size: 25px;
    position: relative;
}

.sidebar ul li a .icon {
    display: inline-block;
    background: #B9B4A6;
    margin-right: 10px;
}

.sidebar ul li a .item {
    display: inline-block;
    background: #B9B4A6;
}

.link-list {
    background: #B9B4A6;
}

.sidebar ul li a:hover {
    font-weight: 900;
    text-decoration: underline;
    color: black;
}

.volunteers-link {
    margin-bottom: 35vh;
}

@media screen and (max-width: 1295px) {
    .sidebar ul li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sidebar ul li a .item {
        display: none;
    }

    .sidebar ul li a .icon {
        margin-right: 0;
    }
}