.all-children-wrapper {
    position: relative;
    left: 25vw;
    top: 10vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.children-title {
    font-family: 'Quattrocento', serif;
    font-size: 40px;
    color: #76736A;
    margin-bottom: 50px;
}

.children-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}

.child-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.child-temp-pic {
    width: 100px;
    height: 100px;
    background: #76736A;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

.children-index {
    font-family: 'Lexend', sans-serif;
    color: #B9B4A6;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.add-child-button {
    background: #76736A;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 685px) {
    .children-container {
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 20px;
    }
}