.new-child-form-container {
    text-align: center;
    border-radius: 10px;
}

.new-child-form {
    border: 2px black solid ;
    border-radius: 10px;

}

.new-child-form-inputs {
    background: white;
    border-radius: 10px;
}

.new-child-group {
    margin: 0px 5px;
    display: inline-block;
    text-align: left;
    width: 90%;
    max-width: 30em;
    background: white;
}

.new-child-firstname {
    display: inline-block;
    text-align: left;
    width: 20em;
    max-width: 47.5%;
    background: white;
}

.new-child-lastName {
    margin: 0em 0em 0em 5%;
    display: inline-block;
    text-align: left;
    width: 13em;
    max-width: 47.5%;
    background: white;
}

.new-child-label {
    margin: 0.25em;
    margin-right: 1em;
    color: #B9B4A6;
    background: white;
}

.new-child-input {
    background-color: #C4C4C4;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: .7em .25em;
    width: 100%;
}

.submit-button {
    font-size: 1.25em;
    color: white;
    background-color: #d8d8d8;
    padding: .3em 0em;
    margin: 25px;
    border-radius: 6px;
    border: none;
    box-shadow: 0em .1em 3px gray;
    width: 5em;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
}

.submit-button:hover {
    background-color: #979797;
    color: white;
}

.child-error {
    font-size: .75em;
    color: #FBA9A4;
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
}
